<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net"
    type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=127.0.0.1;user id=root;password=hansol12#$;database=projectslinger;SslMode=none" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="dbServer" value="127.0.0.1" />
    <add key="dbPort" value="3306" />
    <add key="dbUID" value="root" />
    <add key="dbPassword" value="hansol12#$" />
    <add key="dbDatabase" value="projectslinger" />
  </appSettings>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogFileName}.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="100" />
      <rollingStyle value="Size" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message-%newline" />
      </layout>
    </appender>

    <logger name="SampleAppender">
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.18.0" newVersion="8.0.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

