<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=db4free.net;user id=hansol9;password=hansol12#$;database=projectslinger;SslMode=none" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>